<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：vmes_customer_address Mapper.xml
创建人：陈刚 自动创建
创建时间：2018-09-20
 -->
<mapper namespace="com.xy.vmes.deecoop.base.dao.CustomeAddressMapper">

    <!--表名 自动创建，禁止修改-->
    <sql id="tableName">
	vmes_customer_address
    </sql>

    <!-- 字段 自动创建，禁止修改-->
    <sql id="Field">
		customer_id customerId,<!-- 客户id -->
		name name,<!-- 联系姓名 -->
		phone phone,<!-- 电话号 -->
		mobile mobile,<!-- 手机号 -->
		address address,<!-- 详细地址 -->
		email email,<!-- 邮箱地址 -->
		isdefault isdefault,<!-- 是否默认(0:非默认 1:默认) -->
		remark remark,<!-- 备注 -->
		cuser cuser,<!-- 创建用户id -->
		cdate cdate,<!-- 创建时间 -->
		uuser uuser,<!-- 修改用户id -->
		udate udate,<!-- 修改时间 -->
		isdisable isdisable,<!-- 是否启用(0:已禁用 1:启用) -->
		id id <!-- id -->
    </sql>

    <!-- 字段值 自动创建，禁止修改-->
    <sql id="FieldValue">
		#{customerId},<!-- 客户id -->
		#{name},<!-- 联系姓名 -->
		#{phone},<!-- 电话号 -->
		#{mobile},<!-- 手机号 -->
		#{address},<!-- 详细地址 -->
		#{email},<!-- 邮箱地址 -->
		#{isdefault},<!-- 是否默认(0:非默认 1:默认) -->
		#{remark},<!-- 备注 -->
		#{cuser},<!-- 创建用户id -->
		#{cdate},<!-- 创建时间 -->
		#{uuser},<!-- 修改用户id -->
		#{udate},<!-- 修改时间 -->
		#{isdisable},<!-- 是否启用(0:已禁用 1:启用) -->
		#{id} <!-- id -->
    </sql>


    <!-- 字段名称  '_hide' 表示前端列表隐藏 自动创建，禁止修改-->
    <sql id="Column">
        '客户id'  customerId,
        '联系姓名'  name,
        '电话号'  phone,
        '手机号'  mobile,
        '详细地址'  address,
        '邮箱地址'  email,
        '是否默认(0:非默认 1:默认)'  isdefault,
        '备注'  remark,
        '创建用户id'  cuser,
        '创建时间'  cdate,
        '修改用户id'  uuser,
        '修改时间'  udate,
        '是否启用(0:已禁用 1:启用)'  isdisable,
        'id' id_hide
    </sql>

    <!-- 自动创建，禁止修改 -->
    <select id="findColumnList"  resultType="java.util.LinkedHashMap">
        select
        <include refid="Column"></include>
        from dual
    </select>

    <!-- 自动创建，禁止修改 -->
    <select id="findDataList"  parameterType="com.yvan.PageData"  resultType="java.util.Map">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        <where>
            <!--queryStr 自定义sql查询语句-->
            <if test="queryStr != null and queryStr!=''" >
                and ${queryStr}
            </if>
        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>

    <!-- 列表 自动创建，禁止修改-->
    <select id="dataListPage" parameterType="com.yvan.PageData" resultType="com.xy.vmes.entity.CustomeAddress">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        <where>
            <!--queryStr 自定义sql查询语句-->
            <if test="queryStr != null and queryStr!=''" >
                and ${queryStr}
            </if>
        </where>
    </select>


    <!-- 批量删除 自动创建，禁止修改-->
    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from
        <include refid="tableName"></include>
        where
        id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
		#{item}
        </foreach>
    </delete>


    <!-- 自动创建，禁止修改-->
    <update id="updateToDisableByIds" parameterType="java.lang.String" >
        update
        <include refid="tableName"></include>
        set isdisable = '0' ,udate = now()
        where
        id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
        #{item}
        </foreach>
    </update>



    <!-- ***************************************************以上为自动生成代码禁止修改，请在下面添加业务代码************************************************* -->
    <insert id="insertColumn" >
        delete from vmes_column where model_code = 'customeAddress' ;
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
            (replace(uuid(), '-', ''),'customeAddress','customerId','客户id',1, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'customeAddress','name','联系姓名',2, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'customeAddress','phone','电话号',3, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'customeAddress','mobile','手机号',4, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'customeAddress','address','详细地址',5, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'customeAddress','email','邮箱地址',6, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'customeAddress','isdefault','是否默认(0:非默认 1:默认)',7, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'customeAddress','remark','备注',8, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'customeAddress','cuser','创建用户id',9, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'customeAddress','cdate','创建时间',10, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'customeAddress','uuser','修改用户id',11, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'customeAddress','udate','修改时间',12, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'customeAddress','isdisable','是否启用(0:已禁用 1:启用)',13, '1','1','1','0',now(), 'admin'),
            (replace(uuid(), '-', ''),'customeAddress','id','id',0, '1','1','1','0',now(), 'admin')

            (replace(uuid(), '-', ''),'customeAddress','code','id',0, '1','1','1','0',now(), 'admin')
            (replace(uuid(), '-', ''),'customeAddress','name','name',0, '1','1','1','0',now(), 'admin')
    </insert>


    <!-- 列表(全部) 自动创建，禁止修改-->
    <select id="dataList" parameterType="com.yvan.PageData" resultType="com.xy.vmes.entity.CustomeAddress">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        <choose>
            <!--
                mapSize (0 or is null) 无查询参数-业务层传入
                isQueryAll 是否查询全部
                fasle: (false or is null) 无查询条件-查询结果集返回空或list.size()==0
                true : 无查询条件-返回全部业务表数据
            -->
            <when test="(mapSize == null || mapSize == 0) and 'true' != isQueryAll ">
                where 1=2
            </when>
            <otherwise>
                <where>
                    <!--isSelfExist 是否考虑自己在业务表中是否存在
                        false: (false or is null) 无需考虑自己在业务表中是否存在
                        true : 需要考虑自己在业务表中是否存在
                    -->
                    <if test="id != null and id != ''" >
                        <choose>
                            <when test="'true' == isSelfExist">
                                <![CDATA[ and id <> #{id} ]]>
                            </when>
                            <otherwise>
                                and id = #{id}
                            </otherwise>
                        </choose>
                    </if>
                    <if test="customerId != null and customerId != ''" >
                        and customer_id=#{customerId}
                    </if>
                    <if test="isdefault != null and isdefault != ''" >
                        and isdefault=#{isdefault}
                    </if>

                    <!--queryStr 自定义sql查询语句-->
                    <if test="queryStr != null and queryStr != ''" >
                        and ${queryStr}
                    </if>
                </where>
            </otherwise>
        </choose>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>

    <!-- 字段 自动创建，可以修改-->
    <sql id="Field1">
        customer_id customerId,<!-- 客户id -->
        name name,<!-- 联系姓名 -->
        phone phone,<!-- 电话号 -->
        mobile mobile,<!-- 手机号 -->
        address address,<!-- 详细地址 -->
        email email,<!-- 邮箱地址 -->
        isdefault isdefault,<!-- 是否默认(0:非默认 1:默认) -->
        remark remark,<!-- 备注 -->
        cuser cuser,<!-- 创建用户id -->
        cdate cdate,<!-- 创建时间 -->
        uuser uuser,<!-- 修改用户id -->
        udate udate,<!-- 修改时间 -->
        isdisable isdisable,<!-- 是否启用(0:已禁用 1:启用) -->
        id id <!-- id -->
    </sql>

    <!-- 自动创建，可以修改 -->
    <select id="getDataListPage"  parameterType="com.yvan.PageData"  resultType="java.util.Map">
        select
        <include refid="Field1"></include>
        from
        <include refid="tableName"></include>
        <where>
            <if test="customerId != null and customerId != ''" >
                and customer_id=#{customerId}
            </if>
            <if test="code != null and code != ''" >
                and customer_id=#{customerId}
            </if>
            <if test="code != null and code != ''" >
                and mobile=#{code}
            </if>
            <if test="name != null and name != ''" >
                and name=#{name}
            </if>

            <if test="isdefault != null and isdefault != ''" >
                and isdefault=#{isdefault}
            </if>
            <!--queryStr 自定义sql查询语句-->
            <if test="queryStr != null and queryStr != ''" >
                and ${queryStr}
            </if>
        </where>
        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>

    <update id="updateDefaultByCustId" parameterType="com.yvan.PageData" >
        update <include refid="tableName"/>
            set isdefault = #{isdefault}, udate = now()
        where customer_id = #{customerId}
    </update>


</mapper>