<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
说明：部门客户供应商 DepartmentCustomerMapper.xml
创建人：陈刚 自动创建
创建时间：2018-09-18
 -->
<mapper namespace="com.xy.vmes.deecoop.base.dao.DepartmentCustomerMapper">

    <select id="getDataListPage" parameterType="com.yvan.PageData" resultType="java.util.Map">
        select
            a.id,a.code,a.name,a.name_en,a.cdate,a.cuser,a.type,a.typeName
        from (
            <!--仓库表(虚拟库)-->
            select
                id,
                code,
                name,
                name_en,
                DATE_FORMAT(cdate,'%Y-%m-%d %T') cdate,
                cuser,
                '1' type,
                '虚拟库' typeName
            from vmes_warehouse
            where path_id like '%56f5e83dcb9911e884ad00163e105f05%' and layer = 2
            <if test="currentCompanyId != null and currentCompanyId != ''">
                and company_id=#{currentCompanyId}
            </if>
            UNION ALL
            <!--仓库表(实体库-组装区)-->
            select
                id,
                code,
                name,
                name_en,
                DATE_FORMAT(cdate,'%Y-%m-%d %T') cdate,
                cuser,
                '2' type,
                '组装区' typeName
            from vmes_warehouse
            where path_id like '%2d75e49bcb9911e884ad00163e105f05%' and layer >= 3
                <if test="currentCompanyId != null and currentCompanyId != ''">
                    and company_id=#{currentCompanyId}
                </if>
            UNION ALL
            <!--客户供应商表-->
            select
                cust.id,
                cust.code,
                cust.name,
                cust.name_en,
                DATE_FORMAT(cust.cdate,'%Y-%m-%d %T') cdate,
                cust.cuser,
                CASE
                  WHEN genre = 'df7cb67fca4148bc9632c908e4a7fdea' THEN '3'
                  WHEN genre = '49c0a7ebcb4c4175bd5195837a6a9a13' THEN '4'
                ELSE null
                END type,
                genre.name typeName
            from vmes_customer cust
                left join vmes_dictionary genre on cust.genre = genre.id
            where cust.isdisable = '1'
            <if test="currentCompanyId != null and currentCompanyId != ''">
                and cust.company_id=#{currentCompanyId}
            </if>
            UNION ALL
            <!--仓库表(实体库-组装区)-->
            select
            id,
            code,
            name,
            name_en,
            DATE_FORMAT(cdate,'%Y-%m-%d %T') cdate,
            cuser,
            '5' type,
            '部门' typeName
            from vmes_department
            where  layer = 2
            <if test="currentCompanyId != null and currentCompanyId != ''">
                and id_1=#{currentCompanyId}
            </if>
            <if test="deptType != null and deptType!=''" >
                and dept_type=#{deptType}
            </if>
        ) a
        <where>
            <if test="code != null and code != ''">
                and a.code=#{code}
            </if>
            <if test="name != null and name != ''">
                and a.name=#{name}
            </if>

            <if test="type != null and type != ''">
                and a.type=#{type}
            </if>
            <if test="queryStr != null and queryStr!=''" >
                and ${queryStr}
            </if>
        </where>

        <if test="orderStr != null and orderStr != ''" >
            order by ${orderStr}
        </if>
    </select>

    <!-- ***************************************************以上为自动生成代码禁止修改，请在下面添加业务代码************************************************* -->
    <insert id="insertColumn" >
        delete from vmes_column where model_code = 'departmentCustomer' ;
        insert into vmes_column (
        id,model_code,title_key,title_name,serial_number,
        isdisable,ishide,isedit,ismust,cdate,
        cuser
        ) VALUES
        (replace(uuid(), '-', ''),'departmentCustomer','id','id',0, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'departmentCustomer','name','name',0, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'departmentCustomer','name_en','name_en',0, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'departmentCustomer','cdate','cdate',0, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'departmentCustomer','cuser','cuser',0, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'departmentCustomer','type','type',0, '1','1','1','0',now(), 'admin'),
        (replace(uuid(), '-', ''),'departmentCustomer','typeName','typeName',0, '1','1','1','0',now(), 'admin')

    </insert>

</mapper>